<div class="sso-google" style="height: 300px;">
    <div id="g_id_onload" style="height: 100px;"
        data-client_id="867022813333-b6qphqoj4bapvdiuhe3ecnmeskoddv3b.apps.googleusercontent.com"
        data-callback="handleCredentialResponse"
        data-login_uri="http://localhost:4200" data-auto_prompt="true">
    </div>
    <div class="g_id_signin" style="height: 100px;" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
        data-shape="rectangular" data-logo_alignment="left" data-locale="fr">
    </div>

    <div *ngIf="googleAccount">
        <p>Bonjour {{googleAccount.name}} {{googleAccount.surname}} : {{googleAccount.email}}</p>
    </div>
</div>

<div>
    <ul>
        <li *ngFor="let px of pokemons" (click)="getNews(px.name)">{{px.name}} (type: {{px.type1}})</li>
    </ul>

    <div *ngIf="news">{{news.totalResults}} résultats</div>
    <ul>
        <li *ngFor="let art of news?.articles">
            <h3>{{art.title}}</h3>
            <img [src]="art.urlToImage" alt="" width="100" height="75">
            <div>
                <a [href]="art.url" target="_blank">{{art.url}}</a>
            </div>
        </li>
    </ul>
</div>